## You CAN edit the following:
{{serverEndpoints}}
sv_maxclients {{mClients}}
set steam_webApiKey "{{steamKey}}"
set onesync legacy

## You MAY edit the following:
sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}}"
set mysql_connection_string "{{dbConnectionString}}"

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
{{addPrincipalsMaster}}

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager

## Recipe mods
ensure ghmattimysql
ensure pogressbar
ensure legacyfuel
ensure rottenv
